.span-24.prepend-top
  .span-24#form
    :plain
      <form name="input" action="/results" method="post">
      <input type="text" class="title" name="query" />
      <input type="submit" value="Wyszukaj" class="btn" />
      </form>