.span-24
  = haml :form, :layout => false
.span-24.prepend-top

.span-24.prepend-top
  .span-14#what= "Nasza strona pomoże Ci w łatwy i szybki sposób znaleźć to czego szukasz na allegro.pl Wpisz w okienku powyżej szukana fraze, zaznacz niezbędne opcjie i naciśnij 'Wyszukaj'"
