.span-24.prepend-top
  = haml :form, :layout => false

.span-24.prepend-top.append-bottom
  %hr

.span-24.append-bottom
  .prepend-2.append-2#what= "Nasza strona pomoże Ci w łatwy i szybki sposób znaleźć to czego szukasz na allegro.pl"

.span-24.prepend-top.append-bottom
