.span-24
  = haml :form, :layout => false

.span-24.prepend-top.append-bottom
  %hr

.span-24.append-bottom
  .prepend-2.span-8#what= "Nasza strona pomoże Ci w łatwy i szybki sposób znaleźć to czego szukasz na allegro.pl"
  .prepend-2.span-8#what= "Wpisz w okienku powyżej szukana fraze, zaznacz niezbędne opcjie i naciśnij 'Wyszukaj'"
