.span-24.prepend-top
  = haml :form, :layout => false

.span-24.prepend-top.append-bottom
  %hr

.span-24.append-bottom
  .prepend-2.append-2#what= "Na pewno znasz stronę allegro.pl. Portal ten jest synonimem bezpiecznych i wygodnych zakupów w internecie. Zanim zdecydujesz się na zakup przedmiotu, przeważnie chcesz sprawdzić jakie oferty są w tej chwili dostępne. Jeśli kupujesz tak jak my, czyli mądże i tanio, w pierwszej kolejności sprawdzasz przedmioty z opcją \"Kup Teraz\" o najniższej cenie. Strona znajdz100.pl powstała własnie po to by ułatwić Ci takie wyszukiwanie. Domyślnie szukamy do 100 wyników, tylko \"Kup Teraz\" i szeregujemy je od tych o najniższej cenie."

.span-24.prepend-top.append-bottom
  %hr
