!!!
%head
  %link{ :rel => "stylesheet", :href => "css/screen.css", :type => "text/css", :media => "screen, projection"}
  %link{ :rel => "stylesheet", :href => "css/print.css", :type => "text/css",  :media => "print"}
  %link{ :rel => "stylesheet", :href => "css/styl.css", :type => "text/css",  :media => "screen, projection"}
  :plain
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-2">
    <link  href="//fonts.googleapis.com/css?family=Just+Me+Again+Down+Here:regular" rel="stylesheet" type="text/css" >
    <link  href="//fonts.googleapis.com/css?family=Gruppo:regular" rel="stylesheet" type="text/css" >
    <!--[if lt IE 8]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
%body
  .container#wrap
    #main
      .span-24#logo
        = "znajdź to:"
      .span-24
        = yield
  .conteiner#ad
    :plain
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-2717159126346884";
      /* znajdz100 */
      google_ad_slot = "2197576510";
      google_ad_width = 468;
      google_ad_height = 60;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
  .container#analitycs
    :plain
      <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12525162-2']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      </script>
  -# .container#footer
  -#   .span-24.prepend-top#about
  -#     %a{ :href => "/about"}= "O nas"
