html,body{ height: 100%; margin: 0; padding: 0; }

body {
    padding: 20px 0 0 0;
    background-attachment:fixed;
    font-family: Verdana, "Tacoma","Arial",sans-serif;
    font-size: 14px;
    line-height:1.5em;

    /* background-image:url("/img/bg.png"); */
    /* background-repeat:repeat-x repeat-y; */
}

body > #wrap {
    background: #ffffff;
    position: relative;
}

#form {
    text-align: center;

}

input.btn {
    color: #333333;
    padding: 3px 7px 3px 7px;
    margin-left: 3px;
    font: bold small 'trebuchet ms',helvetica,sans-serif;
}


#what {
    font-family: Verdana;
    color: #444444;
    text-decoration: none;
    word-spacing: 0.1em;
    letter-spacing: 0;
    line-height: 1.2em;
    font-size: 1.2em;

}

label {
    font-weight: normal;
    }

#main {
    padding-bottom: 170px;

}

#banner {
    background: #3399cc;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 5px;
    text-align: center;
}

.result {
    padding-top: 3px;
}

.result:hover {
    font-weight: bold;
    color: #ff5f03;
}

a {
    text-decoration: none;
}

#logo {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  text-shadow: 2px 2px 2px #aaa;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0.175em;
  word-spacing: 0.133em;
  line-height: 0.93em;
}

* {margin:0;padding:0;}

#footer {
    position: relative;
    height: 200px;
    clear:both;
    color: #eee;
    text-align: ceter;
    padding-top: 20px;
    height: 40px;
}

#footer a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
#about {
    text-align: center;
}
label { cursor: hand; cursor: pointer;}
